<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDt6X1EWy0YjiUQHp_P-HO-QCbWAH0IVRA</string>
	<key>GCM_SENDER_ID</key>
	<string>774863640399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.veuz.agorachat</string>
	<key>PROJECT_ID</key>
	<string>eventxpro-66c0b</string>
	<key>STORAGE_BUCKET</key>
	<string>eventxpro-66c0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774863640399:ios:7d1787d06de59c133a973a</string>
</dict>
</plist>